{{ define "content" }}

<div>
    <p>
        <a href="/users/{{ .RsrcUser.AccountId }}">{{ .RsrcUser.Name }}@{{ .RsrcUser.AccountId }}</a>
        のフォロー一覧
    </p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">アカウント名@アカウントID</th>
                <th scope="col">本日の喫煙本数</th>
            </tr>
        </thead>

        <tbody>
            {{ range $user := .RsrcUser.Follows }}
            <tr>
                <td>
                    <a href="/users/{{ .AccountId }}">
                        {{ .Name }}@{{ .AccountId }}
                    </a>
                </td>
                <td>
                    {{ .SmokedCountToday }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

{{ end }}
