{{ define "content" }}

<form class="center" action="/signup" method="POST">
    <h2>
        アカウント新規登録
    </h2>

    <input class="form-control" type="text" name="name" placeholder="アカウント名" required>
    <input class="form-control" type="text" name="account_id" placeholder="アカウントID（1文字以上の半角英数字）" required>
    <input class="form-control" type="password" name="password" placeholder="パスワード（8文字以上の半角英数字）" required>
    <br />
    <button class="btn btn-outline-success" type="submit">登録</button>
</form>

{{ end }}
