{{ define "content" }}

<div>
    <h4>{{ .RsrcUser.Name }}@{{ .RsrcUser.AccountId }}</h4>
    {{ if isLoginButNoRsrcUser .LoginState }}
    {{ if .RsrcUser.IsFollowedByLoginUser }}
    <form action="/users/{{ .LoginUser.AccountId }}/unfollow/{{ .RsrcUser.AccountId }}" method="POST">
        <button type="submit" class="btn btn-outline-success">フォロー解除</button>
    </form>
    {{ else }}
    <form action="/users/{{ .LoginUser.AccountId }}/follow/{{ .RsrcUser.AccountId }}" method="POST">
        <button type="submit" class="btn btn-outline-success">フォロー</button>
    </form>
    {{ end }}
    {{ end }}
    <br />

    {{ if isLoginAndRsrcUserMatch .LoginState }}
    <form action="/users/{{ .LoginUser.AccountId }}/edit-cigarette-today" method="POST">
        <div>
            <p>本日わたしは愚かにも</p>
            <input type="number" name="smoked_count" value="{{ .RsrcUser.TotalSmokedCountToday }}" min="0" max="99999"
                data-suffix="本" size="10" />
            <br />
            <p>吸いました。</p>
        </div>
        <button type="submit" class="btn btn-outline-success">記録</button>
    </form>
    <hr />
    {{ end }}

    <div>
        <p>本日吸ったタバコの本数 : {{ .RsrcUser.TotalSmokedCountToday }} 本</p>
        <p>累計本数 : {{ .RsrcUser.TotalSmokedCountAllDate }} 本</p>
    </div>
    <hr />

    <div>
        <h5>日付指定</h5>
        <form>
            <!-- /users/{{ .RsrcUser.AccountId }}?start_date=xxx&end_date=xxx -->
            <div class="form-row" action="/users/{{ .RsrcUser.AccountId }}" method="GET">
                <div class="col">
                    <label>開始年月日：</label>
                    <input type="date" name="start_date" value="{{ now }}" min="2000-01-01" max="2050-12-31">
                </div>
                <div class="col">
                    <label>終了年月日：</label>
                    <input type="date" name="end_date" value="{{ now }}" min="2000-01-01" max="2050-12-31">
                </div>
            </div>

            <button type="submit" class="btn btn-outline-success">表示</button>
        </form>
        <br />

        <ul>
            {{ range $date, $count := .RsrcUser.TotalSmokedByDate }}
            <li>
                {{ dateFormat $date }} : {{ $count }}本
            </li>
            {{ end }}
        </ul>
    </div>
</div>

{{ end }}
